	<head>
		<style>	
		img {
    display: block;
    margin: 50px auto;
    border: 1px solid blue;
		}

		body {
    background-image: url("http://demilked.uuuploads.com/free-paper-textures/free-paper-texture-14.jpg");
    background-size:     cover;                      /* <------ */
    background-repeat:   no-repeat;
    background-position: center center;  
		}
		</style>
	</head>
	
	<div class="center jumbotron">
		<h1>Alpha-blog</h1>
		<div vertical-align:100px>
			<%= link_to "Sign up now!", "#", class: "btn btn-danger btn-lg"%>
		</div>
	</div>
		

