
	<head>
		<style>h1 {text-align: center;}
		
		img {
    display: block;
    margin: 50px auto;
    border: 1px solid blue;
		}


		body {
    background-image: url("http://demilked.uuuploads.com/free-paper-textures/free-paper-texture-14.jpg");
    background-size:     cover;                      /* <------ */
    background-repeat:   no-repeat;
    background-position: center center;  
		}

		.newspaper {
		margin-top:0px;
    -webkit-column-count: 2; /* Chrome, Safari, Opera */
    -moz-column-count: 2; /* Firefox */
    column-count: 2;
    -webkit-column-gap: 60px; /* Chrome, Safari, Opera */
    -moz-column-gap: 60px; /* Firefox */
    column-gap: 60px;
    -webkit-column-rule: 2px solid red; /* Chrome, Safari, Opera */
    -moz-column-rule: 2px solid red; /* Firefox */
    column-rule: 2px solid red;
    text-align: justify;
		}


		</style>
  	<title>HTML 1st try</title>
	</head>
	
	<body>
		<h1>Mano psl</h1>
		<img src="http://www.institut-analgesia.org/wp-content/uploads/2015/06/demander-de-laide.jpg" alt="No image" style="width:1024px;height:720px;">
		
		
		<%= link_to 'LINK TO ABOUT PAGE', about_path%>
		
		<div class="newspaper">
			<p style="margin: 0;">Taip LRT.lt sako užsienio investicijų plėtros agentūros „Investuok Lietuvoje“ generalinis direktorius Mantas Katinas. Savo ruožtu ekonomistė, politikė Aušra Maldeikienė pabrėžia, kad išaugusiam studentų skaičiui būtų sunku tikėtis studijų kokybės, nes dėstytojų trūksta jau dabar. Pasak M. Katino, Lietuva yra viena labiausiai atsilikusių valstybių Europos Sąjungoje pagal IT specialistų skaičių darbo rinkoje. „Eurostat“ duomenimis, IT specialistai Lietuvoje sudaro vos 1,9 proc. visų dirbančiųjų, ir pagal šį skaičių lenkiame tik Graikiją. Kaimyninėje Latvijoje IT specialistų yra 2 proc., o Estijoje – 4,9 proc. Pagal šį rodiklį pirmauja Suomija, kurios darbo rinkoje IT specialistai sudaro 6,7 proc. Europos Sąjungos vidurkis – 3,7 proc. 
			</p>
		</div>
	</body>

