<div class="container">
	<footer class="footer">
		<small>
			Copyright &copy; Self developed page by <a href="https://lt.linkedin.com/in/povilas-dadelo-a585a897">Povilas Dadelo</a>
		</small>
		<nav>
			<ul>
				<li><%= link_to "About", about_path %></li>
			</ul>
		</nav>
	</footer>
</div>